.oculto {
    display: none !important;
}

.esquerda-align {
    text-align: left;
}

.direita-align {
    text-align: right;
}

.centro,
.centro-align {
    text-align: center;
}

.esquerda {
    float: left !important;
}

.direita {
    float: right !important;
}

img {
    width: 100%;
    height: auto;
}


/* container */

.conteudo {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.conteudo .linha {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}


/* linha */

.linha {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.linha:after {
    content: "";
    display: table;
    clear: both;
}

.linha .coluna {
    float: left;
    box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
}


/* col p */

.linha .coluna.p1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.linha .coluna.p12 {
    width: 100% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}


/* OFFSET */

.linha .coluna.offset-p1 {
    margin-left: 8.3333333333%;
}

.linha .coluna.offset-p2 {
    margin-left: 16.6666666667%;
}

.linha .coluna.offset-p3 {
    margin-left: 25%;
}

.linha .coluna.offset-p4 {
    margin-left: 33.3333333333%;
}

.linha .coluna.offset-p5 {
    margin-left: 41.6666666667%;
}

.linha .coluna.offset-p6 {
    margin-left: 50%;
}

.linha .coluna.offset-p7 {
    margin-left: 58.3333333333%;
}

.linha .coluna.offset-p8 {
    margin-left: 66.6666666667%;
}

.linha .coluna.offset-p9 {
    margin-left: 75%;
}

.linha .coluna.offset-p10 {
    margin-left: 83.3333333333%;
}

.linha .coluna.offset-p11 {
    margin-left: 91.6666666667%;
}

.linha .coluna.offset-p12 {
    margin-left: 100%;
}

#logo,
#menu {
    line-height: 30px;
}

#menu a {
    font-size: 0.8rem;
}

#menuFooter a {
    font-size: 1rem;
}

#menuResponsivo {
    line-height: 30px;
}

#menuResponsivo li {
    border-bottom: 1px #eeeeee solid;
}

#menuResponsivo li a {
    color: #3e84da;
}

.cliente img {
    width: 50% !important;
}

.cliente h1,
.digital h1 {
    font-size: 1.7rem !important;
}

.cliente h2,
.digital h2 {
    font-size: 1.4rem !important;
}

.cliente .descricao,
.digital .descricao {
    font-size: 1rem !important;
}

.cliente .btn,
.digital .btn {
    font-size: 1rem !important;
}


/* PEQUENO */

@media only screen and (max-width: 600px) {
    #menu {
        display: none !important;
    }
    #logo {
        text-align: left !important;
    }
    #logo a img {
        height: 45px;
        width: auto;
    }
    #btnMenu {
        line-height: 30px;
        font-size: 1.5rem;
    }
    #btnMenu a {
        text-decoration: none;
        color: #3e84da;
        transition: 0.1s;
    }
    #btnMenu a:hover {
        opacity: 0.5;
    }
    #logoFooter img {
        height: 20px;
        width: auto;
    }
}


/* MEDIO */

@media only screen and (min-width: 601px) {
    #logo a img {
        height: 80px;
        width: auto;
    }
    #logoFooter img {
        height: 30px;
        width: auto;
    }
    #btnMenu {
        display: none;
    }
    #menuResponsivo {
        display: none !important;
    }
    .descricao {
        font-size: 1.5rem !important;
    }
    .conteudo {
        width: 85%;
    }
    .linha .coluna.m1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.m12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.offset-m1 {
        margin-left: 8.3333333333%;
    }
    .linha .coluna.offset-m2 {
        margin-left: 16.6666666667%;
    }
    .linha .coluna.offset-m3 {
        margin-left: 25%;
    }
    .linha .coluna.offset-m4 {
        margin-left: 33.3333333333%;
    }
    .linha .coluna.offset-m5 {
        margin-left: 41.6666666667%;
    }
    .linha .coluna.offset-m6 {
        margin-left: 50%;
    }
    .linha .coluna.offset-m7 {
        margin-left: 58.3333333333%;
    }
    .linha .coluna.offset-m8 {
        margin-left: 66.6666666667%;
    }
    .linha .coluna.offset-m9 {
        margin-left: 75%;
    }
    .linha .coluna.offset-m10 {
        margin-left: 83.3333333333%;
    }
    .linha .coluna.offset-m11 {
        margin-left: 91.6666666667%;
    }
    .linha .coluna.offset-m12 {
        margin-left: 100%;
    }
}


/* GRANDE */

@media only screen and (min-width: 993px) {
    #logo a img {
        height: auto;
        width: 100%;
    }
    #logoFooter img {
        height: 40px;
        width: auto;
    }
    #btnMenu {
        display: none;
    }
    #menuResponsivo {
        display: none !important;
    }
    .conteudo {
        width: 70%;
    }
    .linha .coluna.g1 {
        width: 8.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g2 {
        width: 16.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g3 {
        width: 25%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g4 {
        width: 33.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g5 {
        width: 41.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g6 {
        width: 50%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g7 {
        width: 58.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g8 {
        width: 66.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g9 {
        width: 75%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g10 {
        width: 83.3333333333%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g11 {
        width: 91.6666666667%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.g12 {
        width: 100%;
        margin-left: auto;
        left: auto;
        right: auto;
    }
    .linha .coluna.offset-g1 {
        margin-left: 8.3333333333%;
    }
    .linha .coluna.offset-g2 {
        margin-left: 16.6666666667%;
    }
    .linha .coluna.offset-g3 {
        margin-left: 25%;
    }
    .linha .coluna.offset-g4 {
        margin-left: 33.3333333333%;
    }
    .linha .coluna.offset-g5 {
        margin-left: 41.6666666667%;
    }
    .linha .coluna.offset-g6 {
        margin-left: 50%;
    }
    .linha .coluna.offset-g7 {
        margin-left: 58.3333333333%;
    }
    .linha .coluna.offset-g8 {
        margin-left: 66.6666666667%;
    }
    .linha .coluna.offset-g9 {
        margin-left: 75%;
    }
    .linha .coluna.offset-g10 {
        margin-left: 83.3333333333%;
    }
    .linha .coluna.offset-g11 {
        margin-left: 91.6666666667%;
    }
    .linha .coluna.offset-g12 {
        margin-left: 100%;
    }
}
