@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700');

a{
	text-decoration: none;
}
a.btn{
	border: 1px #3e84da solid;
	padding: 0.6vw 1vw;
	border-radius: 1.5vw;
	color: #25282d;
	font-size: 1.2vw;
}

body{
	font-family: 'Open Sans', sans-serif;
}
header{
	/*display: flex;*/
	/*align-items: center;*/
	/*justify-content: space-between;*/
	/*margin: 3vw 6vw;*/
	margin: 20px;
}
header img{
	/*width: 12vw;*/
}
header ul{
	display: flex;
}
header ul li{
	margin: 0 0 0 20px;
	padding: 5px;
	font-size: 1.2vw;
}
/*header ul li.atual{
	border-bottom: 1px #3e84da solid;
}*/
.atual{
	color: #3e84da;
}
header ul li a.btn{
	border: 1px #3e84da solid;
	padding: 0.6vw 1vw;
	border-radius: 1.5vw;
}
header ul li a{
	color:#25282d;
}

section.banner{
	font-weight:300;
	font-size: 4.1vw;
	line-height:6vw;
	color: #25282d;
	/*width: 75vw;*/
	margin: 7vw auto;
	letter-spacing: 0.1em;
}
section.banner h1{
	margin: 0 0 10px 0;
	 
}
/*section.banner p span*/
section.banner p span{
	background: #3e84da;
	color: white;
	padding: 0 3px;
	/**/
	line-height: 60px;
}



section.cliente{
	text-align: center;
	background: #3e84da;
	padding: 5vw 0;
	color: white;
}
section.cliente h2{
	/*font-size: 2.5vw;*/
}
section.cliente p.descricao{
	/*width: 42vw;*/
	font-size: 1.5vw;
	margin: 2vw auto 4vw;
}
section.cliente h3{
	font-size: 1.9vw;
	padding-bottom: 2vw;
}
section.cliente ul{
	overflow: auto;
	/*width: 60vw;*/
	margin: 0 auto 4vw;
	/*border:1px solid #3673bd;*/
}
section.cliente ul li{
	/*width:15vw;*/
	/*height: 15vw;*/
	line-height: 15vw;
	/*float: left;*/
	/*text-align: center;*/
	box-sizing: border-box;
	border:1px solid #3673bd;

}
section.cliente ul li img{
	/*width:80%;*/
	vertical-align: middle;
}
section.cliente a{
	border: 1px white solid;
	color: white;
	margin-top: 2vw;
}

section.digital{
	background: #ebe7d8;
	padding: 5vw 0;
	text-align: center;
}
section.digital h2{
	/*font-size: 2.5vw;*/
	color: #3f3f40;
}
section.digital p.descricao{
	font-size: 1.5vw;
	color: #696861;
	/*width: 42vw;	*/
	margin: 2vw auto 4vw;
}
section.digital h3{
	font-size: 1.9vw;
	padding-bottom: 3vw;
	color: #25282d;
}
section.digital a{
	border: 1px #696861 solid;
	color: #696861;
	margin-top: 2vw;
}

footer{
	display: flex;
	/*align-items: flex-end;*/
	/*justify-content: center;*/
	padding: 3vw 0;
}
footer img{
	/*width: 8vw;*/
}

footer ul{
	display: flex;
	margin-left: 2vw;
}
footer li{
	margin:0 1vw;
	font-size: 1.1vw;
}
footer li a {
	color: #696969;
}